/*--------------------------
    base settings
---------------------------*/
$black: #000000;
$white: #ffffff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background-color: $black;
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  z-index: 30;

  #logo {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
}

.noscroll {
  overflow: hidden;
}
